lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.js

pids
logs
results
tmp


# Build
src/out
src/modules
modules
public/css/main.css
package-lock.json

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components
out

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock